@import url("https://fonts.googleapis.com/css?family=Outfit");
@import url("https://fonts.googleapis.com/css?family=Manrope");

* {
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-size: 20px;
	font-weight: normal;
}

:root {
    --primary: #C91212;
	--primary-variant: #A90F0F;
	--text: #151316;
	--background: #F3F3F0;
	--background-variant: #D2D2C6;
}

:root:has(#option-light:checked) {
    --text: #151316;
    --background: #F3F3F0;
    --background-variant: #D2D2C6;
}

:root:has(#option-dark:checked) {
    --text: #F3EFE0;
    --background: #151316;
    --background-variant: #1F1C21;
}

body, html, .svelte-body {
	margin: 0;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
	scrollbar-width: none;
	background-color: var(--background);
}

html::-webkit-scrollbar {
	display: none;
}

/* Fonts */

h1, h2, h3, h1 > *, h2 > *, h3 > * {
	font-family: "Outfit", sans-serif;
	font-weight: 600;
}

h1, h1 > * {
	font-size: 50px;
}

h2, h2 > * {
	font-size: 40px;
}

h3, h3 > * {
	font-size: 30px;
}

p .button-text {
	font-family: 'Manrope', sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.branding {
	color: var(--primary);
}

a {
	text-decoration: none;
	color: var(--primary);
	transition: all 0.25s;
}

a:hover {
	text-decoration: underline;
	color: var(--primary-variant);
	transition: all 0.25s;
}
